<div class="card is-fullwidth">
  <header class="card-header">
    <p class="card-header-title">
      About the author
    </p>
    <a class="card-header-icon" href="#top">
      <i class="fa fa-angle-up"></i>
    </a>
  </header>
  <div class="card-content">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="http://placehold.it/128x128" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
          </p>
        </div>
      </div>
    </article>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">Share on Facebook</a>
    <a class="card-footer-item">Share on Twitter</a>
    <a class="card-footer-item">Share on G+</a>
  </footer>
</div>