<!-- navbar -->

<nav class="navbar">
  <div class="navbar-brand">
     <a class="navbar-item" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
    <div class="navbar-burger burger" data-target="navMenu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-end">
     <a class="navbar-item" href="{{ .Site.BaseURL }}">
       Home
     </a>
     <a class="navbar-item" href="{{ .Site.BaseURL}}/about">
        About
      </a>
       <a class="navbar-item" href="{{ .Site.BaseURL}}/contributing">
        Contributing
      </a>
      <a class="navbar-item" href="https://github.com/bsamaripa/humbletraceur">
        <span class="icon" ><i class="fa fa-github"></i></span>
      </a>
       <a class="navbar-item" href="{{ .RSSLink }}">
        <span class="icon" ><i class="fa fa-feed"></i></span>
      </a>
    </div>
  </div>
</nav>
